@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bungee+Shade&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, autumn;
}

@theme {
  --font-bungee: "Bungee Shade", cursive;
  --font-alfa: "Alfa Slab One", cursive;
  --font-figtree: "Figtree", cursive;
}

